{% set colspan = '' %}
{#{% if data.uid > 0 %}#}
  {% set colspan = ' colspan=3' %}
{#{% endif %}#}
<div id="google-charts"></div>
<table id="selected-table" class="escoach-dashboard-table">
  <thead>
  <tr>
    <th>Selected Activities</th>
    <th{{ colspan }}>Hrs/day</th>
    <th{{ colspan }}>Hrs/week</th>
  </tr>
  <tr>
    <th class="escoach-desc">&nbsp;</th>
    <th class="escoach-all-day">All</th>
    {#{% if data.uid > 0 %}#}
      <th class="escoach-team-day">My Team</th>
      <th class="escoach-me-day">Me</th>
    {#{% endif %}#}
    <th class="escoach-all-week">All</th>
    {#{% if data.uid > 0 %}#}
      <th class="escoach-team-week">My Team</th>
      <th class="escoach-me-week">Me</th>
    {#{% endif %}#}
  </tr>
  </thead>
  <tbody>
  {% set idx = 1 %}
  {% for alias, aliasData in data.aliasMap %}
    <tr>
      <td>{{ idx }}. {{ aliasData.title }}</td>
      <th>{{ data.results.all[alias].day }}</th>
{% if data.uid > 0 %}
      <th>{{ data.results.provider[alias].day }}</th>
      <th>{{ data.results.me[alias].day }}</th>
{% else %}
      <th> - </th>
      <th> - </th>
{% endif %}
      <th>{{ data.results.all[alias].week }}</th>
{% if data.uid > 0 %}
      <th>{{ data.results.provider[alias].week }}</th>
      <th>{{ data.results.me[alias].week }}</th>
{% else %}
      <th> - </th>
      <th> - </th>
{% endif %}
    </tr>
    {% set idx = idx + 1 %}
  {% endfor %}
  <tr>
    <td>n selected activities</td>
    <th>{{ data.results.all.n }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider.n }}</th>
    <th>{{ data.results.me.n }}</th>
{% else %}
    <th> - </th>
    <th> - </th>
{% endif %}
    <th>{{ data.results.all.n }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider.n }}</th>
    <th>{{ data.results.me.n }}</th>
{% else %}
    <th> - </th>
    <th> - </th>
{% endif %}
  </tr>
  </tbody>
</table>
{#{% if data.results.debug %}#}
{#<div>SQL: {{ data.results.debug.query }}</div>#}
{#<div>ARGS: {{ data.results.debug.args }}</div>#}
{#{% endif %}#}
