<div id="google-charts"></div>
<table id="selected-table">
  <thead>
  <tr>
    <th>Selected Activities</th>
    <th colspan="3">Hrs/day</th>
    <th colspan="3">Hrs/week</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>All</th>
    <th>My Team</th>
    <th>Me</th>
    <th>All</th>
    <th>My Team</th>
    <th>Me</th>
  </tr>
  </thead>
  <tbody>
  {% set idx = 1 %}
  {% for alias, aliasData in data.aliasMap %}
    <tr>
      <td>{{ idx }}. {{ aliasData.title }}</td>
      <th>{{ data.results.all[alias].day }}</th>
      <th>{{ data.results.provider[alias].day }}</th>
      <th>{{ data.results.me[alias].day }}</th>
      <th>{{ data.results.all[alias].week }}</th>
      <th>{{ data.results.provider[alias].week }}</th>
      <th>{{ data.results.me[alias].week }}</th>
    </tr>
    {% set idx = idx + 1 %}
  {% endfor %}
  <tr>
    <td>N ({{ data.results.all.total }})</td>
    <th>{{ data.results.all.n }}</th>
    <th>{{ data.results.provider.n }}</th>
    <th>{{ data.results.me.n }}</th>
    <th>{{ data.results.all.n }}</th>
    <th>{{ data.results.provider.n }}</th>
    <th>0</th>
  </tr>
  </tbody>
</table>
{% if data.results.debug %}
<div>SQL: {{ data.results.debug.query }}</div>
<div>ARGS: {{ data.results.debug.args }}</div>
{% endif %}
