{% set colspan = '' %}
{% if data.uid > 0 %}
  {% set colspan = ' colspan=3' %}
{% endif %}
<h3>{{ data.title }}</h3>
<div id="google-charts"></div>
<table id="what-table">
  <thead>
  <tr>
    <th>WHAT</th>
    <th{{ colspan }}>Hrs/day</th>
    <th{{ colspan }}>Hrs/week</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>All</th>
{% if data.uid > 0 %}
    <th>My Team</th>
    <th>Me</th>
{% endif %}
    <th>All</th>
{% if data.uid > 0 %}
    <th>My Team</th>
    <th>Me</th>
{% endif %}
  </tr>
  </thead>
  <tbody>
  {% for alias, aliasData in data.aliasMap %}
  <tr>
    <td>{{ aliasData.title }}</td>
    <th>{{ data.results.all[alias].day }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider[alias].day }}</th>
    <th>{{ data.results.me[alias].day }}</th>
{% endif %}
    <th>{{ data.results.all[alias].week }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider[alias].week }}</th>
    <th>{{ data.results.me[alias].week }}</th>
{% endif%}
  </tr>
  {% endfor %}
  <tr>
    <td>Total responses</td>
    <th>{{ data.results.all.total }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider.total }}</th>
    <th>{{ data.results.me.total }}</th>
{% endif %}
    <th>{{ data.results.all.total }}</th>
{% if data.uid > 0 %}
    <th>{{ data.results.provider.total }}</th>
    <th>{{ data.results.me.total }}</th>
{% endif %}
  </tr>
  </tbody>
</table>

  <div>SQL: {{ data.results.debug.query }}</div>
  <div>ARGS: {{ data.results.debug.args }}</div>

