<div id="google-charts"></div>
<table id="where-table">
  <thead>
  <tr>
    <th>{% if data.what %}{{ data.what }} & {% endif %}WHERE</th>
    <th colspan="3">Hrs/day</th>
    <th colspan="3">Hrs/week</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>All</th>
    <th>My Team</th>
    <th>Me</th>
    <th>All</th>
    <th>My Team</th>
    <th>Me</th>
  </tr>
  </thead>
  <tbody>
  {% for alias, aliasData in data.aliasMap %}
    <tr>
      <td>{{ aliasData.title }}</td>
      <th>{{ data.results.all[alias].day }}</th>
      <th>{{ data.results.provider[alias].day }}</th>
      <th>{{ data.results.me[alias].day }}</th>
      <th>{{ data.results.all[alias].week }}</th>
      <th>{{ data.results.provider[alias].week }}</th>
      <th>{{ data.results.me[alias].week }}</th>
    </tr>
  {% endfor %}
  <tr>
    <td>Total responses</td>
    <th>{{ data.results.all.n }}</th>
    <th>{{ data.results.provider.n }}</th>
    <th>{{ data.results.me.n }}</th>
    <th>{{ data.results.all.n }}</th>
    <th>{{ data.results.provider.n }}</th>
    <th>{{ data.results.me.n }}</th>
  </tr>
  </tbody>
</table>
<div>SQL: {{ data.results.debug.query }}</div>
<div>ARGS: {{ data.results.debug.args }}</div>
